*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  
}      
       body{
           background:#42455a;
         }

.container{
  width: 100vw;
  height: 15%;
  background: #42455a;
  font-size: 15px;
  position:sticky;
  top: 0;
  border:2px solid #42455a;
}

.menu ul{
  display: inline-flex;
  margin: 2px;
}

.menu ul li{
  list-style: none;
  margin: 0px 5px;
  color: #A7A7A7;
}

.menu ul li a{
  text-decoration: none;
  color: #A7A7A7;
}

.menu .differ{
  -webkit-text-fill-color: #08DCFF;
}

.menu img{
  height: 15px;
  width: 15px;
  border: 2px solid mistyrose;
  border-radius: 15px;
}

 .menu span{
   margin-right:2px;
   
  /* border: 2px solid #EE3B3B;
   border-radius: 25px;
   padding: 2.4px 5.4px;*/
   color:  #08DCFF;
  
 }
 
 
 section{
   width: 100vw;
   height:85%;
   justify-content: center;
   background: url('ph3.jpeg') rgba(0,0,0,0.5);
   background-size: cover;
   background-position: center;
  display: block;
   border-bottom: 20px solid #42455a;
  border-left:2px solid #42455a;
   border-right:2px solid #42455a;
   list-style: none;
   padding-left:0px;
 }
 
 section .text{
   
padding-top: 10px;
   font-size: 20px;
  
   justify-content: center;
   
   font-style: 'Maven Pro',sans-serif;
   color:white;
   
 }
 
  .instagram {
    border: 2px solid #D112AC6B;
    border-radius: 5px;
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    width: 140px;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    margin: 10px;

  }
 
  .instagram a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F70A6E;
    font-size: 25px;
 
  }
 
